.aboutme-QnA {
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    padding: 8rem 5rem;

    .aboutme-img {
        width: 50%;
        height: auto;
        margin-left: 6rem;
    }
    div{
        width: 90%;
        height: 20rem;
        background-color: var(--color-sub);
        margin: 3rem auto;
        border-radius:20px;
        h2{
            @include font-h3;
            padding: 3rem;
            padding-bottom: 2rem;
        }
        p{
            @include font-body;
            padding:0 8rem;
            line-height: 2;
        }
    }
}