.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;       
    bottom: 0; 
    background-color: #1a1a19ce;
    @include flex-layout;
    z-index: 1000;
    padding: 20px;
    color: var(--color-primary);

    .popup-overlay {
        width: 90%;
        height: 100%;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background-color: var(--color-sub);
        @include flex-layout(row, space-between);
        gap: 1rem;
        padding: 6rem;
        border-radius: 40px;
        border: 1px solid var(--color-primary);
        overflow: auto;
        position: relative;
        top: 0;
        right: 0;
        animation: fadeIn 0.3s ease-out; 

        .close-btn {
            position: absolute;
            top: 0;
            right: 3rem;
            font-size: 4rem;
            margin-top: 2rem;
            color: var(--color-primary);
            z-index: 100;

            &:hover {
                scale: 1.1;
                transition: all 0.3s ease;
                cursor: pointer;
                color: #1a1a19ce;
            }
        }

        .project-popup {
            flex: 1;
            display: flex;
            flex-direction: column;
            word-break: keep-all;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            gap: 2rem;
            // animation: fadeIn 0.3s ease-out; 
}

            h2 {
                font-size: 5rem;
                font-weight: 900;
                margin: 1rem 0;
            }

            .popup-section {
                h3 {
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                li,
                p {
                    font-size: 1.5rem;
                    line-height: 2;
                    margin-bottom: 1rem;
                }
            }
        }

        .popup-image {
            flex: 1;
            text-align: right;
            display: block;
            width: 100%;
            height: 100%;
            margin-top: 20rem;
            transition: all 0.3s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin-left: auto;

            }

            &:hover {
                transform: scale(1.05);
                filter: brightness(60%);
            }
        }
    }

@keyframes fadeIn {
    from {
        opacity: 0;            
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;          
        transform: translateY(0);  
    }
}