.close {
    width: 100%;
    height: 100vh;
    color: var(--color-sub);
    background-color: var(--color-primary);
    @include flex-layout(column);
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 1rem;

    img {
        width: 85rem;
        padding-left: 5rem;
    }

    h1 {
        @include font-h3;
        font-weight: 600;
        padding-left: 13.5rem;
        padding-top: 4rem;
    }

    ul {
        @include font-h4;
        font-weight: 600;
        padding-left: 13.5rem;
        padding-top: 4rem;
    }
}