.mainlayout {
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    // height: 100%;

    .btn-menu {
        position: fixed;
        left: 3rem;
        top: 3rem;
        border: none;
        background-color: transparent;
        z-index: 20000;

        &:hover {
            filter: brightness(80%);
            transform: scale(1.1);
            transition: 0.3s;
        }

        svg {
            color: var(--color-text);
            font-size: 4rem;
        }
    }

    .btn-up {
        border: none;
        background-color: transparent;
        color: var(--color-text);
        font-size: 5rem;
        position: fixed;
        right: 3rem;
        bottom: 1.5rem;
        z-index: 10000;
        &:hover {
            filter: brightness(80%);
        }
    }
    .btn-title{
        border: none;
        background-color: transparent;
        color: var(--color-text);
        position: fixed;
        bottom: 0.2rem;
        z-index: 10000;
        padding-right: 5.5rem;
        svg{
            width: 15rem;
        }
        &:hover{
            filter: brightness(100%);
        }
    }  

}