.modal-overlay {
    position: fixed; 
    top: 0;         
    left: 0;       
    right: 0;       
    bottom: 0;   
    background-color: rgba(0, 0, 0, 0.6); 
    @include flex-layout();
    z-index: 1000;   
}
.modal-content {
    background-color: #1a1a19ce;
    border-radius: 8px;   
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;      
    max-height: 95vh;      
    overflow-y: auto;      
    position: relative;  
    animation: fadeIn 0.3s ease-out; 
}

.modal-close-button {
    position: absolute; 
    top: 10px;         
    right: 20px;     
    background: none;   
    border: none;      
    font-size: 3.5rem; 
    cursor: pointer;   
    color:var(--color-sub);
}

.modal-close-button:hover {
    filter: brightness(80%);
}

@keyframes fadeIn {
    from {
        opacity: 0;            
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;          
        transform: translateY(0);  
    }
}