.overviewDream {
  width: 100%;
  background-color: #1a1a19ce;
  padding: 5rem 0;

  .overview-Dream {
    width: 90%;
    margin: auto auto;
    height: 100%;
    color: var(--color-primary);
    background-color: var(--color-sub);
    position: relative;
    top: 0;
    right: 0;
    border-radius: 20px;

    h1 {
      @include font-h2;
      color: var(--color-primary);
      padding: 1.5rem 3rem;
    }

    h2 {
      font-size: 2.5rem;
      color: var(--color-primary);
    }

    p {
      @include font-body-s;
      font-weight: 600;
      word-break: keep-all;
      padding: 0.5rem 0;
    }

    ul {
      @include font-body;
      font-weight: 600;
      word-break: keep-all;
    }

    .overview-project {
      @include flex-layout;
      padding-bottom: 8rem;
      padding-top: 2rem;

      .project-left {
        flex: 1;
        padding-left: 6rem;
        line-height: 2;

        li {
          @include font-body-s;
        }
      }
      a{
        width: 45%;
      
      .overview-img {
        width: 100%;

        &:hover {
          scale: 1;
          transition: all 0.3s ease;
          cursor: pointer;

        }
      }
    }
  }
    .design-wrap {
      width: 70%;

      .design-title {
        padding-top: 3rem;
      }
    }

    .overview-design {
      padding: 3rem 5rem;
      line-height: 2;
      padding-bottom: 5rem;
      width: 100%;

      .design-color {
        display: flex;
        gap: 3rem;

        .color {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          margin: 3rem 0;

          &:hover {
            scale: 1.1;
            transition: all 0.3s ease;
            cursor: pointer;

          }
        }
      }

      .design-font {
        padding: 2rem 0;
        margin-bottom: 5rem;

        .font {
          font-family: 'Pretendard-Regular';
          font-size: 2.3rem;
          font-weight: bolder;
        }

        li {
          font-family: "Paperozi";
          @include font-body-s;
          font-weight: 600;
        }
      }
    }

    .overview-user {
      margin: 5rem 0;
      width: 100%;

      .user-img {
        width: 85%;
        margin: 2rem 9rem;
      }
    }

    .overview-solution {
      height: 54.5rem;
      padding: 2rem 6rem;
      line-height: 2;

      h2 {
        padding: 0.5rem 0;
      }

      li {
        @include font-body-s;
        line-height: 2;
        padding: 0.5rem 0;
      }
    }
  }
}