.practical {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    padding: 3rem 5rem;

    .practical-img {
        width: 45%;
        height: auto;
        margin-left: 3rem;
    }

    .practical-content {
        width: 95%;
        margin: 0 auto;
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .practical-contents {
            text-align: center;
            color: var(--color-sub);
            position: relative;
            top: 0;
            left: 0;

            img {
                width: 80%;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1);
                    filter: brightness(80%);
                }
            }

            h2 {
                margin: 1.5rem 0;
                font-size: 2rem;
            }

            .practical-feature {
                li {
                    font-size: 1.3rem;
                    word-break: keep-all
                }
            }

            .practical-skills {
                @include flex-layout;
                gap: 1rem;
                position: absolute;
                top: 29rem;
                left: 50%;
                transform: translate(-50%, -50%);

                li {
                    @include btn2;
                    padding: 0.65rem;
                    margin-top: 1rem;
                    &:hover{
                        filter: brightness(80%);
                    }
                }
            }
        }
    }

}