.skills{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    padding: 4rem 0;

    .aboutme-img {
        width: 45%;
        height: auto;
        margin-top: 3rem;
    }
    .skills-section{
        width: 90%;
        display: flex;
        margin: 2rem 8rem;
    .line-bar{
        margin: 4rem 3rem;
        width: 5px;
        height: 29rem;
        background-color: var(--color-text);
        }
        .main-category-tabs{
            width: 25rem;
            button{
                color: var(--color-text);
                @include font-h3;
                margin-top: 3rem;
                font-family: 'Paperlogy-8ExtraBold', sans-serif;
            }
            .active{
                color: var(--color-point);
                font-size: 4.3rem;
                position: relative;
                top: 0;
                left: 0;
                &::before{
                    content: '|';
                    font-size: 5.6rem;
                    color: var(--color-point);
                    position: absolute;
                    left: -4.1rem;
                    top: -1.7rem;
                }
            }
        }
    }
    .category-details{
        width: 90%;
        .category-title{
            color: var(--color-point);
        }
        h2{
            margin: 3.5rem 0;
            @include font-h4;
            color: var(--color-sub);
        }
        .item-card{
            margin: 3rem 0;
            display: flex;
            align-items: center;
        img{
            width: 8rem;
            height: 8rem;
            margin-bottom: 0.5rem;
        }
        p{
            width: 80%;
            font-size: 2.3rem;
            color: var(--color-text);
            margin: 0 3rem;
            word-break: keep-all;
        }
    }
}
}
