//global.scss
@import "./fonts.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "./variable.scss";

//font

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html{ font-size: 62.5%;
}

body{
    font-family: 'Paperozi', sans-serif;
    font-weight: 700; 
    width: 100%;
    // overflow: hidden;
}
