@import "./styles/global.scss";

//컴포넌트
@import "./styles/components/MainLayout.scss";
@import "./styles/components/Mainpage.scss";
@import "./styles/components/Cover.scss";
@import "./styles/components/Menubar.scss";
@import "./styles/components/Aboutme.scss";
@import "./styles/components/AboutmeQnA.scss";
@import "./styles/components/Skills.scss";
@import "./styles/components/Projects.scss";
@import "./styles/components/OverviewLittle.scss";
@import "./styles/components/OverviewGG.scss";
@import "./styles/components/OverviewDream.scss";
@import "./styles/components/OverviewSodam.scss";
@import "./styles/components/ClonePopup.scss";
@import "./styles/components/CloneCoding.scss";
@import "./styles/components/Practical.scss";
@import "./styles/components/Close.scss";
@import "./styles/components/Modal.scss";
